* {
    outline: 1px solid --tomato;
}

body {
    font-size: inherit;
    font-family: 'Roboto', 'Noto Sans KR';
    overflow-x: hidden;
}

p {
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans KR';
}


h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 20px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}



.Wrap {}

.header .top_banner {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    line-height: 30px;
}

.header .inner {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.header .inner .lang a {
    padding: 0 10px 0 0;
}

.header .top_link {
    display: flex;
    color: #9c9c9c;

}

.header .top_link li {
    padding: 0 0 0 15px;

}


.header .head_container {
    line-height: 100px;
}

.header .gnb>ul {
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul>li {
    position: relative;
}


.header .gnb>ul>li>a {
    display: inline-block;
    padding: 0 60px;
    font-size: 18px;
}

.header .gnb>ul>li:last-child a {
    padding: 0 0 0 30px;
}

.header .gnb>ul>li .submenu {
    position: absolute;
    top: 130px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0);
    width: 150px;
    background: #fff;
    border: 1px solid #ddd;
    line-height: 40px;
    font-size: 13px;

    opacity: 0;
    visibility: hidden;
}

.header .gnb>ul>li:hover .submenu {
    top: 90px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.header .gnb>ul>li .submenu li {
    padding: 0 0 0 15px;
}

.header .gnb>ul>li .submenu li~li {
    border-top: 1px solid #ddd;
}







/* mainVisual */


.mainVisual .mainSlide figure {
    position: relative;
    height: 875px;
}

.mainVisual .mainSlide .inner {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mainVisual .mainSlide h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #000;
    margin: 0 0 15px 0;
}

.mainVisual .mainSlide p {
    font-size: 20px;
    color: #fff;
}



.mainVisual .mainSlide .itm01 {
    background: url(../img/main_visual01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main_visual02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/main_visual03.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main_visual04.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 21%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff65;
    margin: 5px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #fff;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}



/*main Content*/

.mainContent {
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}


.mainContent p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;

    padding: 30px 0;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}


/* mainBanner */


.mainBanner {
    padding: 100px 0;
    background: #122d5c;

}

.mainBanner h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;

    padding-bottom: 30px;
}

.mainBanner h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}


.mainBanner p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 30px 0;
}

.mainBanner .inner {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.mainBanner figure {
    background: #fff;
}



/* mainNews */

.mainNews {
    padding: 100px 0;
}

.mainNews h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 50px 0;
    text-align: center;
}

.mainNews>p {
    font-size: 15px;
    margin: 0 0 40px 0;
    text-align: center;
}


.mainNews .inner {
    display: flex;
    gap: 60px;
    width: 1200px;
    margin: 0 auto;
}

.mainNews .inner>div {
    position: relative;
    flex: 1;
}

.mainNews .inner>div~div::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 100%;
    background: #ddd;


}

.mainNews .itm {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    word-break: keep-all;

}


.mainNews .itm h3 {
    font-size: 20px;
    font-weight: 500;
    min-height: 70px;
}


.mainNews .itm p {
    max-height: 100px;
    overflow: hidden;
    margin: 0 0 50px 0;

    text-overflow: ellipsis;
}

.mainNews .itm span {
    margin: auto 0 0 0;

}



.global {
    padding: 100px 0;
    color: #fff;
    height: 1000px;
    background: url(../img/bg_global_network.jpg)no-repeat center center/cover;
}

.global h2 {
    text-align: center;
    margin-bottom: 30px;
}

.global h3 {
    text-align: center;
    margin-bottom: 100px;
}


/* footer */

.f_inner {
    width: 1200px;
    margin: 0 auto;
}

.footer {
    width: 100vw;
    padding: 50px 0 30px 0;
    background: #f2f2f2;
    color: #555;
}

.footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer .top ul>li {
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 14px;
    color: #666666;
}

.footer .top ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #d2d2d2;
    margin: 0 10px 0 0;
}

.footer .bottom {
    border-top: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer .bottom i {
    font-size: 24px;
    padding: 5px;
    color: #666666;
}

.footer .bottom ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #d2d2d2;
    margin: 0 10px 0 0;
}

.copy {
    padding-top: 10px;
    font-size: 14px;
}

.footer .bottom li {
    display: inline-block;
    padding: 0 15px 0 0;
    font-size: 14px;
}




@media (max-width: 768px) {
    .footer {
        padding: 20px 0;
        background: #111;
        color: #555;
    }



    .footer .top {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .footer .top ul>li {
        display: inline-block;
        padding: 20px 0 0 20px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
    }


    .footer .bottom {
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        line-height: 20px;
    }

    .footer .bottom h3 {
        font-size: 18px;
        font-weight: 500;
        color: #ffffffb2;
        padding-bottom: 20px;
    }

    .footer .bottom ul>li~li::before {
        content: "";
        display: none;
    }

    .copy {
        padding: 30px 0;
    }

    #f_link {
        display: none;
    }

}


/* 서브페이지 */

#sub .inner {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

#sub .sub_banner {
    position: relative;
    color: #fff;
    background-position: center bottom;
    background-size: cover;
    background: url(../img/bg02.jpg);
}


#sub .sub_banner strong {
    margin: 0 0 15px 0;
    font-size: 35px;
    font-weight: 500;
}

#sub .sub_banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;

}

#sub .sub_page {
    line-height: 40px;
    background: #a99e8f;
    color: #fff;
}

#sub .sub_page ul {
    display: flex;
    gap: 60px;
    font-size: 14px;

    overflow: hidden;

}

#sub .sub_page ul>li {
    position: relative;
}

#sub .sub_page ul>li::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -30px;
    width: 60px;
    height: 60px;
    border-right: 1px solid #ddd;

}


#sub .sub_container .article {
    flex: 8;
    padding: 50px 0 100px 50px;
    border-left: 1px solid #ddd;
}

#sub .sub_container .article h3 {
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;

    margin: 0 0 30px 0;
}

#sub .sub_container .article h3 span {
    color: #ccc;
    font-size: 16px;
    margin: 0 0 0 10px;
}

#sub .sub_container .aside {
    flex: 2;
    padding: 50px 50px 100px 0;
}

#sub .aside_menu {
    margin: 0 0 100px 0;
}

#sub .aside_menu>a {
    display: none;
}

#sub .aside_menu ul>li {
    line-height: 40px;
}

#sub .aside_menu ul>li>a {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0 30px;
}


#sub .aside_menu ul>li.on>a {
    background: #a99e8f;
    color: #fff;
}

#sub .aside_customer strong {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 30px 0;
}

#sub .aside_customer strong i {
    float: right;
    padding: 10px;
    background: #a99e8f;
    ;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;

    margin: -20px 0 0 0;
}

#sub .aside_customer a {
    display: block;
    font-size: 35px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#sub .aside_customer ul>li {
    margin: 0 0 5px 0;
}






/* sub 01 - 1 기업개요 */

.content {
    line-height: 30px;
}

.content p {
    margin: 50px 0;
    word-break: keep-all;
}



/* sub 01 - 2 연혁 */

.content_wrap {
    padding: 30px 0;
    margin: 0 auto;
    position: relative;
}

.time_line dl {
    position: relative;
    padding-left: 300px;
    display: block;

}

.time_line dl dt {
    position: absolute;
    left: 0;
    top: -6px;
    font-size: 70px;
    color: #8b7e6d;
    font-weight: 500;
    display: block;
}

.time_line dl dt::after {
    position: absolute;
    right: -136px;
    top: 11px;
    content: "";
    background-image: url(../img/common.png);
    background-position: -1085px -986px;
    width: 118px;
    height: 1px;
}

.time_line dl dd {
    position: relative;
    padding-left: 100px;

    padding-bottom: 30px;
}

.time_line dl dd::before {
    position: absolute;
    left: -6px;
    top: 0;
    content: "";
    background-image: url(../img/common.png);
    background-position: -888px -712px;
    width: 11px;
    height: 11px;
}

.time_line dl dd .month {
    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 30px;
    color: #8b7e6d;

}

.time_line dl dd p {
    position: relative;
    line-height: px;
    font-size: 16px;
}

.time_line dl dd:last-child {
    padding-bottom: 75px;
}


/* sub 01 - 3 연혁 */
.wayto h2 {
    text-align: center;
    padding: 50px 0;
}

.wayto h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.wayto .contact ul>li {
    display: inline-block;
    padding: 0 15px;

}

.bold {
    font-size: 18px;
    font-weight: 500;
}

.map {
    margin: 30px 0;
    margin-left: 20px;
}


/* PUBLIC TRANSPORTAION INTRO */

.transport_wrap {
    width: 800px;
    margin: 30px auto 0;
    padding: 0 50px;
    border: 3px solid #efefef;
    box-sizing: border-box;
}

.train_wrap {
    padding: 30px 0 30px 166px;
    position: relative;
}

.transport_wrap h4 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.train_wrap:before {
    background-image: url(../img/train_icon.png);
}

.transport_wrap article:before {
    width: 105px;
    height: 105px;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-color: #8b7e6d;
    border-radius: 100%;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
}

.train_8::before {
    content: "8";
    background-color: #e72d77;
}

.transport_wrap .train_wrap div dl::before {
    display: inline-block;
    width: 27px;
    height: 27px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}

.train_wrap div dl.train_8 dt {
    color: #e72d77;
}

.transport_wrap .train_wrap div dl dt {
    display: inline-block;
    padding: 0 12px 0 5px;
    font-weight: 500;
}

.train_wrap div dl dd {
    display: inline-block;
}

.train_wrap div dl.train_2 {
    padding: 10px 0 0;
}

.train_wrap div dl.train_2::before {
    content: "2";
    background-color: #58b550;
}

.transport_wrap .train_wrap div dl::before {
    display: inline-block;
    width: 27px;
    height: 27px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}

.train_wrap div dl.train_2 dt {
    color: #58b550;
}

.train_wrap div dl dd {
    display: inline-block;
}

/* sub 03 - 1 */


.sub_itm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.sub_itm figure {
    border: 1px solid #ddd;
}

.sub_itm .ht {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 0 10px;
}

.sub_itm .id {
    font-size: 14px;
    color: #929292;
    padding: 0 10px 10px 10px;

}

.sub_itm img {
    width: 100%;
    height: 300px;

}